<h1> Add a Recipe in Cookbook </h1>

<form action="/action_page.php" method="get">
  Name of Recipe: <input type="text" name="recipe_name"><br>
  Description of Recipe: <input type="text" name="recipe_description"><br>
  Cooking Time of Recipe: <input type="text" name="recipe_cooking_time"><br>
  Difficulty of Recipe: <input type="text" name="recipe_difficulty"><br>
  <input type="submit" value="Submit">
</form>

<p> <a href="/"> Home </a> </p>
